/*  Animation #1 (Phone over receipt) */
  @-moz-keyframes move-phone-over-receipt {
    0% {
      -moz-transform: translateX(200px);
      transform: translateX(200px);
    }
    25% {
      -moz-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -moz-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes move-phone-over-receipt {
    0% {
      -webkit-transform: translateX(200px);
      transform: translateX(200px);
    }
    25% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @keyframes move-phone-over-receipt {
    0% {
      -moz-transform: translateX(200px);
      -ms-transform: translateX(200px);
      -webkit-transform: translateX(200px);
      transform: translateX(200px);
    }
    25% {
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @-moz-keyframes show-phone-content {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    55% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes show-phone-content {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    55% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes show-phone-content {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    55% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes flash-white {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    41% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes flash-white {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    41% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes flash-white {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    41% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .running .sw-phone-receipt-animation .phone-body {
    -moz-animation: move-phone-over-receipt 3s 1 ease-out;
    -webkit-animation: move-phone-over-receipt 3s 1 ease-out;
    animation: move-phone-over-receipt 3s 1 ease-out;
  }
  .running .sw-phone-receipt-animation .phone-content-scanned {
    -moz-animation: show-phone-content 3s 1 ease-out;
    -webkit-animation: show-phone-content 3s 1 ease-out;
    animation: show-phone-content 3s 1 ease-out;
  }
  .running .sw-phone-receipt-animation .phone-content-receipt {
    -moz-animation: flash-white 3s 1 ease-out;
    -webkit-animation: flash-white 3s 1 ease-out;
    animation: flash-white 3s 1 ease-out;
  }










